# This file lists the python packages that your software depends on.
# It is used by tox to manage software dependencies. Don't
# confuse it with the software requirements, which may be listed in
# docs/requirements.rst
numpy
SimpleITK
vtk
meshio
scikit-surgeryvtk
scikit-surgerycore
scikit-image
slicerio
nrrd
tdqm
pymeshlab
